{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier",
    "next/core-web-vitals"
  ],
  "plugins": ["es", "react", "prettier", "react-hooks", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "eqeqeq": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
