.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  font-size: 14px;
}

.statusCode {
  font-size: 24px;
  font-weight: 500;
  margin-right: 20px;
}

.icon {
  flex: 0 0 375px;
  width: 375px;
  height: 375px;
}