.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  overflow-x: hidden;
}

.chartContainer {
  height: 100px;
  width: 100vw;
}

.minutelySummary {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}